<div style="width: 500px; margin: 50px auto;">
    <mat-tab-group [backgroundColor]="'primary'">
        <mat-tab label="My posts">
            @if (isOwner && !accountService.currentUser()?.blocked){
                <app-create-publication
                (publicationCreated)="refreshPublications()"></app-create-publication>
            }
            <app-publication-my-list #publicationList></app-publication-my-list>
        </mat-tab>
        <mat-tab label="My comments"></mat-tab>
    </mat-tab-group>
</div>